.imagen {
  width: 20%;
}
img {
  width: 20%;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
.ingredient-group {
  font-size: 15px;
  text-align: justify;
}
.validationError{
    color: red;

}